*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f4f4;
  color:black;
  transition:0.3s;
}

nav{
  background:#0077b6;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

nav ul{
  display:flex;
  list-style:none;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
}

button{
  padding:10px 15px;
  border:none;
  cursor:pointer;
  border-radius:5px;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px;
  gap:20px;
  flex-wrap:wrap;
}

.hero img{
  width:350px;
  border-radius:10px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.form-section{
  padding:20px;
}

form{
  display:flex;
  flex-direction:column;
  gap:15px;
  max-width:400px;
}

input,select{
  padding:10px;
}

#message{
  font-weight:bold;
}

.stored-data{
  padding:20px;
}

.user-card{
  background:white;
  margin-top:10px;
  padding:15px;
  border-radius:8px;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:30px;
}

/* DARK MODE */
.dark{
  background:#121212;
  color:white;
}

.dark .card,
.dark .user-card{
  background:#1f1f1f;
  color:white;
}

@media(max-width:768px){

  .hero{
    flex-direction:column;
    text-align:center;
  }

  nav{
    flex-direction:column;
    gap:10px;
  }

}

.cloud-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    width: 250px;
}

#temperature {
    font-size: 3rem;
    margin: 10px 0;
    color: #38bdf8;
}